<link rel="stylesheet" href="/static/js/components/navbar/navbar.css">
<div id="navbar">
    <div id="navbar_left-side">
        <md-button ng-click="showSidenav()" class="md-icon-button md-primary" aria-label="btn_sidenav">
            <md-icon md-svg-icon="/static/src/menu/menu.svg"></md-icon>
        </md-button>
        <h2 id="navbar_appname">
            <a href="/#/home">
                Writter
            </a>
        </h2>
    </div>
    
    <div id="navbar_right-side">
        <h3 style="opacity: .5;">ICCINE</h3>
    </div>
</div>
