<div class="meta-info">
    <div class="info-header">
        <h5 class="header-label">Proyecto</h5>
    </div>
    <div class="info-body">
        <section class="body-sec1">
            <h5 class="sec1-title">{{project_meta.name}}</h5>
            <p class="sec1-desc" ng-class="{ 'expanded': project.showFullDesc }">
                {{project_meta.description}}
            </p>
            <span ng-show="project_meta.description.split(' ').length >= 15" class="see-more" ng-click="project.showFullDesc = !project.showFullDesc">
                {{ project.showFullDesc ? 'Ver menos' : 'Ver más' }}
            </span>
        </section>
        <section class="body-sec2">
            <ul>
                <li>
                    <img src="/static/src/icons/page.svg"/>
                    3 Páginas
                </li>
                <li>
                    <img src="/static/src/icons/clapper.svg"/>
                    5 Escenas
                </li>
                <li>
                    <img src="/static/src/icons/character.svg"/>
                    3 Personajes
                </li>
                <li>
                    <img src="/static/src/icons/lines.svg"/>
                    300 Lineas
                </li>
                <li>
                    <img src="/static/src/icons/dialog.svg"/>
                    40 Dialogos
                </li>
            </ul>
        </section>
    </div>
    <div class="info-footer">
        <md-button 
            aria-label="Guardar">
            Guardar
        </md-button>

        <md-button
            class="btn-settings" 
            aria-label="Settings">
            <img src="/static/src/icons/settings.svg"/>
        </md-button>
    </div>
</div>