<md-menu 
    class="meta-info">
  <md-button 
    aria-label="OpenMeta" class="info-header" ng-click="$mdMenu.open($event)" md-close-on-click="false">
        <h5 class="header-label">Proyecto</h5>
  </md-button>
  <md-menu-content class="meta-body">
    <div class="info-body">
        <section class="body-sec1">
            <h5 class="sec1-title">{{project_name}}</h5>
            <p class="sec1-desc">
                {{project_description}}
            </p>
        </section>
        <section class="body-sec2">
            <ul>
                <li>
                    <img src="/static/src/icons/page.svg"/>
                    {{project_meta.pages}} Páginas
                </li>
                <li>
                    <img src="/static/src/icons/clapper.svg"/>
                    {{project_meta.scenes}} Escenas
                </li>
                <li>
                    <img src="/static/src/icons/character.svg"/>
                    {{project_meta.characters}} Personajes
                </li>
                <li>
                    <img src="/static/src/icons/lines.svg"/>
                    {{project_meta.lines}} Lineas
                </li>
                <li>
                    <img src="/static/src/icons/dialog.svg"/>
                    {{project_meta.dialogs}} Dialogos
                </li>
            </ul>
        </section>
    </div>
    <div class="info-footer">
        <md-button 
            class="btn-save"
            aria-label="Guardar">
            Guardar
        </md-button>
    </div>
  </md-menu-content>
</md-menu>