<div class="meta-info" ng-class="{'open':isMetaOpen}">
    <div class="info-header">
        <h5 class="header-label">Proyecto</h5>
        <md-button 
            class="btn-openclosed"
            ng-click="isMetaOpen=!isMetaOpen"
            aria-label="Open/Close">
            <img 
              ng-src="{{ isMetaOpen ? '/static/src/icons/closearrow.svg' : '/static/src/icons/openarrow.svg' }}" 
            />
        </md-button>
    </div>
    <div class="info-body" ng-class="{'open':isMetaOpen}">
        <section class="body-sec1">
            <h5 class="sec1-title">{{project_name}}</h5>
            <p class="sec1-desc" ng-class="{ 'expanded': project.showFullDesc }">
                {{project_description}}
            </p>
            <span ng-show="project_description.split(' ').length >= 15" class="see-more" ng-click="project.showFullDesc = !project.showFullDesc">
                {{ project.showFullDesc ? 'Ver menos' : 'Ver más' }}
            </span>
        </section>
        <section class="body-sec2">
            <ul>
                <li>
                    <img src="/static/src/icons/page.svg"/>
                    {{project_meta.pages}} Páginas
                </li>
                <li>
                    <img src="/static/src/icons/clapper.svg"/>
                    {{project_meta.scenes}} Escenas
                </li>
                <li>
                    <img src="/static/src/icons/character.svg"/>
                    {{project_meta.characters}} Personajes
                </li>
                <li>
                    <img src="/static/src/icons/lines.svg"/>
                    {{project_meta.lines}} Lineas
                </li>
                <li>
                    <img src="/static/src/icons/dialog.svg"/>
                    {{project_meta.dialogs}} Dialogos
                </li>
            </ul>
        </section>
        <div class="info-footer">
            <md-button 
                class="btn-save"
                aria-label="Guardar">
                Guardar
            </md-button>
    
            <md-button
                class="btn-settings" 
                aria-label="Settings">
                <img src="/static/src/icons/settings.svg"/>
            </md-button>
        </div>
    </div>
</div>

